{{! <div>Tech Blog</div> }}

{{#each posts as |post|}}
  <div class="mx-5 my-2">
    <a href="/post/{{post.id}}">
    <p data-id="{{id}}" class="card-header">
      {{post.title}}
      {{post.user.username}}
      {{format_date post.createdAt}}
    </p>
    </a>
  </div>
{{/each}}